.topPanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 80px;
}

.summary {
  width: 100%;
  margin-left: 70px;
  margin-right: auto;
  max-width: 1200px;
}

.title{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.subtitle{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.border{
  width: 1.5vw;
  height: 14vw;
  max-width: 20px;
  max-height: 200px;
  margin-left: auto;
  background: #33D3FF;
}

.button{
  width: 15vw;
  height: 4vw;
  max-width: 220px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background: #33D3FF;
  border-radius: 30px;
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover{
  transform: scale(1.03);
  position: relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.backToHome{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 15px;
}

@media screen and (max-width:575.98px){
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 25px;
    margin-right: inherit;
    max-width: 80%;
  }

  .title{
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: 22px;
    line-height: 30px;
  }

  .border{
    margin-left: inherit;
    width: 3vw;
    height: 40vw;
    max-width: 15px;
    max-height: 150px;
  }

  .button{
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .backToHome{
    font-size: 17px;
    margin-left: 10px;
  }
}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 30px;
    margin-right: inherit;
    max-width: 80%;
  }

  .title{
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  .subtitle{
    font-size: 25px;
    line-height: 32px;
  }

  .border{
    margin-left: inherit;
    width: 2vw;
    height: 40vw;
    max-width: 18px;
    max-height: 150px;
  }

  .button{
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  .backToHome{
    font-size: 17px;
    margin-left: 10px;
  }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 40px;
    margin-right: inherit;
    max-width: 80%;
  }

  .title{
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 30px;
  }

  .subtitle{
    font-size: 26px;
    line-height: 33px;
  }

  .border{
    margin-left: inherit;
    width: 2vw;
    height: 40vw;
    max-width: 20px;
    max-height: 160px;
  }

  .button{
    width: 48vw;
    height: 13vw;
    max-width: 190px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .backToHome{
    font-size: 18px;
    margin-left: 12px;
  }
}

@media screen and (min-width:992px) and (max-width:1350px) {
  .topPanel{
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .summary{
    margin-left: 55px;
    margin-right: inherit;
    max-width: 80%;
  }

  .title{
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 30px;
  }

  .subtitle{
    font-size: 27px;
    line-height: 34px;
  }

  .border{
    margin-left: inherit;
    width: 2vw;
    height: 40vw;
    max-width: 18px;
    max-height: 160px;
  }

  .button{
    width: 40vw;
    height: 11vw;
    max-width: 210px;
    max-height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

}
