.topPanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 150px;
}

.intro {
  width: 100%;
  margin-left: auto;
  padding-left: 30px;
  max-width: 650px;
  padding-bottom: 20px;
}

.hi{
  font-weight: bold;
  font-size: 80px;
  line-height: 101px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #000000;
}

.blurb {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #000000;
}

.circleContainer{
  width: 100%;
  margin-right: auto;
  max-width: 650px;
  padding-left: 50px;
}

@media screen and (max-width:575.98px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .intro {
    max-width: 90%;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .hi{
    font-size: 45px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  .blurb{
    font-size: 20px;
    line-height: 27px;
  }

  .circleContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    padding-left: 40px;
    padding-right: 30px;
  }

}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 55px;
  }

  .intro {
    max-width: 90%;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 0px;
  }

  .hi{
    font-size: 55px;
    line-height: 67px;
    margin-bottom: 30px;
  }

  .blurb{
    font-size: 28px;
    line-height: 38px;
  }

  .circleContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-left: 40px;
    padding-right: 30px;
  }

}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .topPanel{
    flex-direction: column;
    margin-bottom: 55px;
  }

  .intro {
    max-width: 90%;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 0px;
  }

  .hi{
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
  }

  .blurb{
    font-size: 38px;
    line-height: 50px;
  }

  .circleContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    padding-left: 40px;
    padding-right: 30px;
  }

}

@media screen and (min-width:992px) and (max-width:1199.98px) {
  .topPanel{
    flex-direction: row;
    margin-bottom: 50px;
  }

  .intro {
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 0px;
    padding-left: 40px;
  }

  .hi{
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 30px;
  }

  .blurb{
    font-size: 31px;
    line-height: 43px;
  }

  .circleContainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 30px;
  }

}



.work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.titles{
  font-weight: bold;
  font-size: 55px;
  line-height: 69px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}

.threeitemrow{
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.item{
  width: 30vw;
  padding-right: 30px;
  max-width: 500px;
}

.rectangle{
  height: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  max-height: 250px;
  cursor: pointer;
}

.cappedSize > img {
  max-height: 75%;
  max-width: 75%;
}

.cappedSize > svg {
  max-height: 65%;
  max-width: 65%;
}

.dashRect > img {
  max-height: 100%;
  border-radius: 30px;
}

.hackRect > img{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.blueprintRect{
  background: #EDEEEF;
}

.blueprintRect > img{
  min-width: 100%;
  min-height: 100%;
  border-radius: 30px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.heartRect > img {
  max-height: 93%;
  margin-top: auto;
}

.alarmRect > img {
  max-height: 90%;
  max-width: 90%;
}

.barclaysRect{
  background: #00AFE9;
}

.modernaRect{
  background: #F5F5F5;
}

.mastercardRect{
  background: #000000;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover{
  transform: scale(1.05);
  position: relative;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.captions{
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  /* or 140% */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
}


@media screen and (max-width:575.98px) {
  .work{
    margin-bottom: 25px;
  }

  .titles{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 30px;
    margin-bottom: 25px;
  }

  .threeitemrow{
    flex-direction: column;
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 0px;
    max-width: 90%;
  }

  .item{
    width: 70vw;
    max-width: 95%;
  }

  .rectangle{
    height: 35vw;
  }

  .captions{
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .work{
    margin-bottom: 25px;
  }

  .titles{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-right: 10px;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .threeitemrow{
    flex-direction: column;
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 0px;
    max-width: 90%;
  }

  .item{
    width: 60vw;
  }

  .rectangle{
    height: 30vw;
  }

  .captions{
    font-size: 25px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .work{
    margin-bottom: 25px;
  }

  .titles{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-right: 10px;
    font-size: 38px;
    margin-bottom: 30px;
  }

  .threeitemrow{
    flex-direction: row;
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 0px;
    max-width: 90%;
  }

  .item{
    width: 30vw;
  }

  .rectangle{
    height: 17vw;
  }

  .captions{
    font-size: 17px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:992px) and (max-width:1199.98px) {
  .work{
    margin-bottom: 40px;
  }

  .titles{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 45px;
    margin-bottom: 40px;
  }

  .threeitemrow{
    flex-direction: row;
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 0px;
    padding-right: 10px;
  }

  .item{
    width: 30vw;
  }

  .rectangle{
    height: 17vw;
  }

  .captions{
    font-size: 22px;
    line-height: 32px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.hackRect{
  overflow: hidden;
}

.kelpRect{
  background: #FC3F42;
}

.dashRect{
  background: #040E51;
}

.heartRect{
  background: #60E1FD;
}

.heartIcon{
  border-radius: 15px 15px 0px 0px;
}

.alarmRect{
  background: #43DFC3;
}

.alarmIcon{
  border-radius: 30px;
}
