.container {
  position: relative;
  width: 100%;
  height: auto;
}

.menu{
  display: none;
}

.navBar{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 5px;
}

.name {
  order: 0;
  flex-grow: 10;
  flex-basis: 1400px;
  max-width: 1100px;
  margin-left: auto;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.navItems{
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 40px;
  flex-basis: 400px;
  margin-right: auto;
  flex-grow: 2;
}

.tab {
  order: 1;
  flex-grow: 1;
  flex-basis: 150px;
  font-weight: 600;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.02em;
}

.menuActive {
  color: #2191FB;
}

.menuInactive:hover{
  color: #FC3F42;
}

@media screen and (max-width:575.98px) {
  .navBar{
    padding-left: 25px;
    margin-bottom: 60px;
    margin-top: 0px;

  }

  .navItems{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    padding-top: 95px;
    background-color: #ffffff;
  }
  .name{
    margin-top: 15px;
    z-index: 3;
    font-size: 22px;
  }
  .tab{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-color: #ffffff;
  }

  .menu{
    margin-top: 11px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font-size: 22px;
    line-height: 32px;
    float: right;
    margin-right: 5px;
    position: relative;
  }

}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .navBar{
    padding-left: 25px;
    margin-bottom: 60px;
    margin-top: 0px;

  }

  .navItems{
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    left: 0px;
    right: 0px;
    padding-left: 0px;
    padding-top: 105px;
    background-color: #ffffff;
  }
  .name{
    margin-top: 15px;
    z-index: 3;
    font-size: 27px;
  }
  .tab{
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-color: #ffffff;
  }

  .menu{
    margin-top: 10px;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    float: right;
    margin-right: 5px;
    position: relative;
  }

}

@media screen and (max-width:767.98px){
  .navClosed{
    display: none;
  }

  .fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .shadow{
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .navBar{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 5px;
  }

  .name {
    order: 0;
    flex-grow: 10;
    flex-basis: 1300px;
    margin-left: auto;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }

  .navItems{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 40px;
    flex-basis: 700px;
    margin-right: auto;
    flex-grow: 2;
  }

  .tab {
    order: 1;
    flex-grow: 1;
    flex-basis: 150px;
    font-weight: 600;
    font-size: 21px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }

}

@media screen and (min-width:992px) and (max-width:1199.98px) {
  .navBar{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 5px;
  }

  .name {
    order: 0;
    flex-grow: 10;
    flex-basis: 1300px;
    margin-left: auto;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }

  .navItems{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 40px;
    flex-basis: 500px;
    margin-right: auto;
    flex-grow: 2;
  }

  .tab {
    order: 1;
    flex-grow: 1;
    flex-basis: 150px;
    font-weight: 600;
    font-size: 21px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px){
  .navItems{
    max-width: 400px;
  }
}



.banner{
  margin-top: 150px;
}

.bottomBlurb{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
}

.connect{
  margin-left: auto;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.02em;
  padding-right: 15px;
}

.chat{
  margin-right: auto;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  font-size: 18px;
  margin-bottom: 65px;
}

.socialIcon:hover > a > i {
  color: #FC3F42;
}

@media screen and (max-width:575.98px) {
  .banner{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .bottomBlurb{
    flex-direction: column;
    margin-bottom: 8vw;
  }

  .connect{
    text-align: left;
    margin-left: inherit;
    margin-right: auto;
    font-size: 28px;
    line-height: 38px;
    padding-right: 0px;
    margin-bottom: 10px;

  }

  .chat{
    width: 100%;
    margin-right: auto;
    padding-right: 10vw;
    font-size: 20px;
    line-height: 25px;
  }

  .socials{
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 60px;
  }

}

@media screen and (min-width:576px) and (max-width:767.98px) {
  .banner{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .bottomBlurb{
    flex-direction: column;
    margin-bottom: 8vw;
  }

  .connect{
    text-align: left;
    margin-left: inherit;
    margin-right: auto;
    font-size: 32px;
    line-height: 42px;
    padding-right: 0px;
    margin-bottom: 10px;

  }

  .chat{
    width: 100%;
    margin-right: auto;
    padding-right: 10vw;
    font-size: 22px;
    line-height: 27px;
  }

  .socials{
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 60px;
    max-width: 100%;
  }
}

@media screen and (min-width:768px) and (max-width:991.98px) {
  .banner{
    margin-top: 150px;
  }

  .bottomBlurb{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
  }

  .connect{
    margin-left: auto;
    text-align: right;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.02em;
    padding-right: 15px;
  }

  .chat{
    margin-right: auto;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  .socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 18px;
    margin-bottom: 65px;
  }
}
